@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

body {
  background-color: #fbf9fb;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 35px;
}

.container {
  width: 400px;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fbf9fb;
  flex-direction: column;
}

.row-container {
  border-radius: 14px;
  padding: 10px;
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-title {
  font-weight: 500;
}
.row-value {
  color: #6c1e5f;
}

.button-container {
  cursor: pointer;
  border-radius: 14px;
  width: 40%;
  height: 45px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #6c1e5f 0%, #581e6e 100%);

  align-items: center;
}
.button-content {
  color: white;
}
